:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
}

.get-position button {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: rgb(245, 23, 197);
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.get-position button:hover {
  background-color: rgb(164, 14, 147);
}
