:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
}

.get-position button {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: rgb(245, 23, 197);
  transition: 0.2s ease-in-out;
  font-weight: bold;

  -webkit-box-shadow: 0px 0px 230px 60px rgba(245, 95, 205, 0.42);
  -moz-box-shadow: 0px 0px 230px 60px rgba(245, 95, 205, 0.42);
  box-shadow: 0px 0px 230px 60px rgba(245, 95, 205, 0.42);
}

.result {font-weight: 700;
font-size: 18px}

.get-position button:hover {
  background-color: rgb(164, 14, 147);
}

.get-position {
  min-width: 400px;
}

.time {
  list-style: none;
margin: 3px 0;
}

.history .title {

 font-weight: bold;
}

.history {

  max-height: 200px;
  min-height: 200px;

  overflow: auto;
  scrollbar-width: thin;

  
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(139, 139, 139, 0.5);
  border-radius: 20px;
  border: transparent;
}